@import "./SearchBar/SearchBar.scss";
@import "./User/User.scss";
@import "./Repos/Repos.scss";
@import "./Orgs/Orgs.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(23, 30, 46);
  min-height: 100vh;
  color: white;

  h1 {
    text-align: center;
    padding-top: 30px;
  }

  .loading {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px 1fr;
    grid-template-areas:
      "user repos"
      "orgs repos";
    .content-left {
      position: relative;
    }
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

@media (max-width: 900px) {
  .App {
    .content-wrapper {
      grid-template-columns: 1fr;
      grid-template-areas:
        "user"
        "orgs"
        "repos";
    }
  }
}
